openapi: 3.1.0
info:
  version: V1
  title: Clearing House Portal  
  description: >-
    API Endpoints for the Clearing House Project Team clients.

        SandBox url: https://sandbox.echohealthinc.com
        Production Url : https://api.echohealthinc.com

    # Authentication

    Authentication is a process by which a system verifies the identity of a
    user accessing this API.       

    <!-- ReDoc-Inject: <security-definitions> -->
  

  contact:
    name: ECHO Health Inc.
    email: Echo.Hub@echohealthinc.com 
servers:
      - url: https://sandbox.echohealthinc.com
      - url: https://api.echohealthinc.com

    

    

    

  

    


  
 

paths:
  #Authorization
  /api/v1/GetToken:
    $ref: paths/Authentication/api@RequestAuthentication@V1.yaml
  /api/v1/GetTokenByAppCode:
    $ref: paths/Authentication/api@TokenAppcodeRequestAuthentication@V1.yaml  
  /api/v1/validateToken:
    $ref: paths/Authentication/api@ValidateToken@V1.yaml   
    #ClearingHousePotal 
  /api/ClearingHouse/v1/Portal [Register User]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@RegisterUser.yaml
  /api/ClearingHouse/v1/Portal [Validate User]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@ValidateUser.yaml
  /api/ClearingHouse/v1/Portal [Get Clearing House By Domain]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetCHByDomain.yaml
  /api/ClearingHouse/v1/Portal [Send an email]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@SendEmail.yaml
  /api/ClearingHouse/v1/Portal [Validate an email]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@ValidateEmail.yaml
  /api/ClearingHouse/v1/Portal [Approve Pending User Registration]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@ApprovePendingUserRegistartion.yaml
  /api/ClearingHouse/v1/Portal [Check on Create Password Link Expiry]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@CheckPasswordLinkExpiry.yaml
  /api/ClearingHouse/v1/Portal [Create Password]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@CreatePassword.yaml
  /api/ClearingHouse/v1/Portal [Decline Pending User Registration]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@DeclinePendingUserRegistration.yaml
  /api/ClearingHouse/v1/Portal [Get All Pending User Registration]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetAllPendingUserRegistration.yaml
  /api/ClearingHouse/v1/Portal [Create CH Admin]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@CreateCHAdmin.yaml
  /api/ClearingHouse/v1/Portal [Get CH Admin Details By Registration Key]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetCHAdminByRegistrationKey.yaml
  /api/ClearingHouse/v1/Portal [Get CH Admin Details By Id]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetCHAdminDetailsByID.yaml
  /api/ClearingHouse/v1/Portal [Get All CH Admin Requests]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetAllCHAdminRequests.yaml
  /api/ClearingHouse/v1/Portal [Delete CH Admin]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@DeleteCHAdmin.yaml
  /api/ClearingHouse/v1/Portal [Get Build Version]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetBuildVersion.yaml
  /api/ClearingHouse/v1/Portal [Get Active CH By User Name]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@GetActiveCHByUserName.yaml
  /api/ClearingHouse/v1/Portal [Register CH Admin]:
    $ref: paths/ClearingHousePortal/api@ClearingHouse@v1@RegisterCHAdmin.yaml
      
components:
  securitySchemes:
    x-ApiKey:
      type: apiKey
      name: x-ApiKey
      description: The API key.
      in: header
    x-ClientKey:
      type: apiKey
      description: The client key.
      name: x-ClientKey
      in: header
    ApiKeyAuth:
      type: apiKey
      name: x-Authorization
      in: header
      description: Requests should pass an authentication key header.
    x-Appcode:
      type: apiKey
      name: AppCode
      in: header
      description: Requests should pass an appcode in  header.  
    

    
tags: 
   #Authorization
  - name: Authorization 
    description: |
      This endpoint helps to generate the Authorization Token for accessing the endpoints. 
      #Clearing House Portal
   #Clearing House Portal   
  - name: Clearinghouse Portal 
    description: |
     A clearinghouse functions as an intermediary for the transactions between healthcare providers and insurance payers. The clearinghouse is imperative to the processing of all medical claims and records electronically to ensure a faster turnaround on claim processing. 
     ECHO’s clearinghouse portal is a website that allows clearinghouses to check EFT (Electronic Funds Transfer)/ERA (Electronic Remittance Advice) enrollment status for their providers. The portal also provides the bulk EFT and ERA status reports and reposts missing 835 files to the clearinghouse directory.
     The clearinghouse portal controls clearinghouse access by managing user access and limiting users to only the data pertinent to their company. The portal also establishes the domains associated with the clearinghouse, as well as IP ranges where possible. 
